<div class="street-item-container clearfix" ng-repeat="street in streetsShow">
    <div class="street-item-map">
      <a href="" ng-click="chooseStreet(street.id)">
        <img ng-src="{{ street.streetMapPreview }}" />
      </a>
    </div>
    <div class="street-item-description">
        <h4>{{street.name}}</h4>
        <h6>Zip: <span ng-repeat="zipcode in street.zipCodes"> {{zipcode.zipcode}}</span></h6>
        <h6>Participants: {{street.totalAdopters}}</h6>
    </div>
    <div class="street-item-view margin-20">
        <a class="btn bth-sm btn-success btn-block" href="" ng-click="chooseStreet(street.id)">
          View
        </a>
    </div>
</div>
