<div class="root-admin">
  <div ng-if="!isUserAdmin">
    <div class="row">
      <div class="col-md-8">
        <h3>There is nothing for you to see there. If you still think there is, please contact website admin.</h3>
      </div>
    </div>
  </div>
  <div ng-if="isUserAdmin">
    <div class="row top-menu">
      <div class="col-xs-10 col-md-6">
        <div ng-class="['col-xs-4 col-sm-3 col-md-2', 'text-center', { 'active-tab': tabs.isUsersActive }, { 'inactive-tab': !tabs.isUsersActive }]">
          <a href="" ng-click="tabs.showUsers()"><h4>Users</h4></a>
        </div>
        <div ng-class="['col-xs-4 col-sm-3 col-md-2', 'text-center', { 'active-tab': tabs.isInventoryActive }, { 'inactive-tab': !tabs.isInventoryActive }]">
          <a href="" ng-click="tabs.showInventory()"><h4>Inventory</h4></a>
        </div>
      </div>
    </div>
    <div class="row offset" ng-if="tabs.isUsersActive">
      <div class="col-md-12">
        <div ng-include src="'app/admin/users/admin-users-template.html'"></div>
      </div>
    </div>
    <div class="row offset" ng-if="tabs.isInventoryActive">
      <div class="col-md-12">
        <div ng-include src="'app/admin/inventory/admin-inventory-template.html'"></div>
      </div>
    </div>
  </div>
</div>
