# Node Dependency Directory
node_modules

# Bower Dependency Directory
client/public/libs

# Settings
server/config/apiSettings.js
server/config/serverSettings.js

# openshift stuff
.openshift
.vscode/

# logs
*.log