<div class="street-popup">
  <div class="street-popup-image">
    <img src='{{imageSrc}}' />
  </div>
  <div class="street-popup-address">
    <h4><i class="fa fa-map-marker"></i> {{address}} </h4>
  </div>
  <div ng-show="isStart">
    <div ng-show="!isAdoptedSuccessfully && isAuthorized">
      <div class="street-popup-buttons">
        <button type='button' class='btn btn-success' ng-click='adoptStreet()'>I want to particpate!</button>
        <button type='button' class='btn btn-danger' ng-click='close()'>Not this time</button>
      </div>
    </div>
    <div ng-controller="mainController">
    <div ng-show="isAdoptedSuccessfully && isAuthorized">
        <h3>Thank you!</h3>
        <div class="street-popup-buttons">
          <button type='button' class='btn btn-success' ng-click='close()'>No problem!</button>
        </div>
    </div>

  </div>
  <div ng-show="isError">
    <h4>Sorry, something went wrong. Please try again later or contact us.</h4>
    <div class="street-popup-buttons">
      <button type='button' class='btn btn-success' ng-click='close()'>Close</button>
    </div>
  </div>
</div>
<div ng-show="isAdopted && isAuthorized">
  <h4>You are participating in taking care of this street.</h4>
  <div class="street-popup-buttons">
    <button type='button' class='btn btn-success' ng-click='close()'>Great, thanks!</button>
    <button type='button' class='btn btn-danger' ng-click='leave()'>Leave</button>
  </div>
</div>
<div ng-show="!isAuthorized">
    <button type='button' class='btn btn-warning' ng-hide="signBtn" ng-click='signBtn=true;signInForm=true'>Sign Up</button>
    <ng-form ng-show="signInForm" ng-controller="LoginController" ng-submit="loginForm.login()">
      <div class="form-group menu-login">
        <label>Email</label>
        <input type="text" class="form-control" name="uname" ng-model="loginForm.email" required ng-init="loginForm.email = 'test@test.me'"></input>
        <label>Password</label>
        <input type="password" class="form-control" name="pass" ng-model="loginForm.password" required ng-init="loginForm.password = '1234test'"></input>
        <input type="submit" class="btn btn-default" ng-click="loginForm.login(loginForm);close()" value="Login"/> Or <a ng-click="loginForm.signup()">Sign up</a>
      </div>
</div>
