<div>
  <div class="modal-header">
    <h3 class="modal-title" ng-show="!isResetSuccess && !isResetFailed">Reset your password</h3>
    <div class="alert alert-success" ng-show="isResetSuccess">Sent email to your email address. Please check your inbox.</div>
    <div class="alert alert-danger" ng-show="isResetFailed">{{ errorMessage }}</div>
  </div>
  <div class="modal-body">
    <form name="resetPasswordForm" novalidate>
      <div class="row">
        <div ng-class="['col-xs-10 col-md-8', 'form-group', { 'has-error': resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine }]">
          <label for="email" class="control-label">Enter your email address to reset your password<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
          <input name="email" ng-model="resetPassword.email" class="form-control input-sm" placeholder="Email Address" type="email" required>
          <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" class="help-block">Email is required.</p>
        </div>
      </div>
      <div class="row row-buffer--top">
        <div class="col-xs-5 col-md-3">
          <button class="btn btn-success btn-md btn-block" ng-click="resetPassword.reset()" type="submit" ng-disabled="signinForm.$invalid"><i class="fa fa-check" aria-hidden="true"></i> Reset</button>
        </div>
        <div class="col-xs-5 col-md-3">
         <button class="btn btn-danger btn-md btn-block" ng-click="resetPassword.close()" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Close</button>
       </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
