<div ng-controller="SignupController">
  <div class="modal-header">
    <h3>Sign up and become a better citizen!</h3>
    <div class="alert alert-success" ng-show="successShow">Successfully Created Your Account</div>
    <div class="alert alert-danger" ng-show="errorShow">{{ errorMessage }}</div>
  </div>
  <div class="modal-body">
    <form id="signinForm" role="form">
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="form group">
            <label>Email</label>
            <input type="text" id="email" ng-model="User.email" class="form-control input-sm" placeholder="Email" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" id="firstName" ng-model="User.firstName" class="form-control input-sm" placeholder="First Name" required>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" id="lastName" ng-model="User.lastName" class="form-control input-sm" placeholder="Last Name" required>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="form-group">
              <label>Birthday</label>
              <input type="date" id="birthday" ng-model="User.birthDate" class="form-control input-sm" placeholder="Birthday">
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">

          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <label>Business/Organization</label> (optional)
              <input type="text" id="organizationName" ng-model="User.businessName" class="form-control input-sm">
            </div>
          </div>
      </div>

      <div class="offset-small"><label>Address</label></div>

      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
            <ui-select ng-model="User.zip" theme="bootstrap" title="Zipcode">
             <ui-select-match placeholder="Enter zipcode...">{{$select.selected.zipCode}}</ui-select-match>
             <ui-select-choices repeat="item.zipCode as item in zipCodes" refresh="refreshZipCodes($select.search)" refreshDelay="100">
               <div ng-bind-html="item.zipCode | highlight: $select.search"></div>
             </ui-select-choices>
           </ui-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <ui-select ng-model="User.addressLine1"  theme="bootstrap" title="Street name">
             <ui-select-match placeholder="Enter street name...">{{$select.selected.name}}</ui-select-match>
             <ui-select-choices repeat="item.name as item in streetNames" refresh="refreshStreetNames($select.search)" refreshDelay="100">
               <div ng-bind-html="item.name | highlight: $select.search"></div>
             </ui-select-choices>
           </ui-select>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
            <input type="text" id="houseNumber" ng-model="User.houseNumber" class="form-control input-sm" placeholder="House number">
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="form-group">
            <input type="text" id="apartmentNum" ng-model="User.aptNumber" class="form-control input-sm" placeholder="Apartment/Unit">
          </div>
        </div>
      </div>

      <div class="offset-small"><label>Password</label></div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" id="password" ng-model="User.password" class="form-control input-sm" placeholder="Password" required>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" id="passwordConfirm" ng-model="User.passwordConfirm" class="form-control input-sm" placeholder="Confirm password" required>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-6">
      </div>
      <input type="submit" ng-click="register()" value="Register" class="btn btn-info btn-block">

    </form>
  </div>
</div>
</div>
