<form name="signinForm" ng-show="!isRegisterSuccess" novalidate>
    <div class="row">
        <div ng-class="['col-xs-6', 'form-group', { 'has-error': signinForm.firstName.$invalid && !signinForm.firstName.$pristine }]">
            <label for="firstName" class="control-label">First Name<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
            <input name="firstName" ng-model="User.firstName" ng-class="['form-control', 'input-sm', { 'has-error': signinForm.firstName.$error.required }]" placeholder="First Name" type="text" required="">
            <p ng-show="signinForm.firstName.$invalid && !signinForm.firstName.$pristine" class="help-block">First Name is required.</p>
        </div>
        <div ng-class="['col-xs-6', 'form-group', { 'has-error': signinForm.lastName.$invalid && !signinForm.lastName.$pristine }]">
            <label for="lastName" class="control-label">Last Name<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
            <input name="lastName" ng-model="User.lastName" ng-class="['form-control', 'input-sm', { 'has-error': signinForm.lastName.$error.required }]" placeholder="Last Name" type="text" required="">
            <p ng-show="signinForm.lastName.$invalid && !signinForm.lastName.$pristine" class="help-block">Last Name is required.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 form-group">
            <label for="businessName" class="control-label">Business/Organization</label>
            <input name="businessName" ng-model="User.businessName" class="form-control input-sm" placeholder="Organization Name" type="text">
        </div>
        <div class="col-xs-6 form-group">
            <label for="phone" class="control-label">Phone Number</label>
            <input name="phone" class="form-control input-sm" name="emerPhone" ng-model="User.phoneNumber" ui-mask="{{'(999) 999-9999'}}" type="tel" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div ng-include src="'app/signup/useragreement-template.html'"></div>
                <div class="row">
                    <div class="position-center">
                        <label for="agreementCheckbox">
                            <input type="checkbox" id="agreementCheckbox" ng-model="User.hasAgreedToTerms" required=""/>&nbsp;&nbsp;
                            <small>I agree to these electronic terms</small>
                            <span aria-hidden="true">*</span><span class="sr-only">required</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <a href="#" class="btn btn-success btn-lg btn-block md-max-width position-center" ng-click="register()" type="submit" ng-disabled="signinForm.$invalid"><i class="fa fa-check" aria-hidden="true"></i> Register now</a>
        </div>
    </div>
    <div class="row row-buffer--top">
        <div>
            <a href="#" class="btn btn-danger btn-lg btn-block md-max-width position-center" ng-click="close()" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Maybe next time</a>
        </div>
    </div>
</form>