<div>{{LoginTest}}</div>
<div><a href ng-click="login()">Login</a></div>
<div><a href ng-click="session()">Session</a></div>
<div><a href ng-click="logout()">Logout</a></div>

<ng-form ng-controller="LoginController">
  <div class="form-group menu-login">
    <label>Username</label>
    <input type="text" class="form-control" name="uname" ng-model="user.username" required>
    <label>Password</label>
    <input type="password" class="form-control" name="pass" ng-model="user.password" required>
    <input type="submit" class="btn btn-default" value="Login" /> Or <a href="">Sign up</a>
    </div>
</ng-form>
