<div>
  <div class="modal-header">
  </div>
</div>
<div class="modal-body">
  <form name="requestForm" novalidate>
  <div class="bg-danger" ng-show="errorMessage">
    {{errorMessage}}
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>{{  }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="description" class="control-label">Status</label>

      <ui-select search-enabled=false autofocus=true on-select="onStatusChange($item, $model)" ng-model="inventory.status" theme="bootstrap">
       <ui-select-match allow-clear="false" placeholder="Select status">{{$select.selected.name}}</ui-select-match>
       <ui-select-choices repeat="item in (statuses | filter: $select.search) track by item._id">
         <div ng-bind-html="item.name | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>
    </div>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" type="submit" ng-disabled="requestForm.$invalid" ng-click="save()">Save</button>
   <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
