<div style="width:94%;min-width:220px;max-width:650px;margin:0 auto;padding-top:6px;text-align:left;font-family:arial,sans-serif;font-size:13px;line-height:18px;color:#545454">
<div>
<table cellpadding="10" cellspacing="0" width="100%" style="width:100%;min-width:100%">
<tbody>
<tr>
<td align="center" style="text-align:center">
	<a href="{{websiteUrl}}" target="_blank" data-saferedirecturl="http://www.google.com/url?hl=en&amp;q={{websiteUrl}}">
		<img src="cid:NotInPhillyLogo.jpg" width="200" height="92" alt="Notinphilly.org" style="border:0"/>
	</a>
</td>
</tr>
</tbody>
</table>
</div>
Hi {{firstName}},
 
<h4><b>Thank you so much for joining <a href="{{websiteUrl}}">Not in Philly!</a></b></h4>

<p>We’re delighted to have another member of our community helping to take the trash out. Together we can make a big difference for our neighborhoods.</p>

<p>Select your block (or another one that you would like to beautify) and commit to picking up the trash there once a week. We can make that easier by adding it to your calendar.</p>

<b>Start picking up litter!</b>

<p>Post pics of your clean-up and now beautiful litter-free block to social media and tag them with #notinphilly to win prizes from local businesses (this also helps us with grants and funding!)</p>

<p>Our goal is to get trash grabbers out to everyone who signs up for Not In Philly. Right now we have funding to provide them in Walnut Hill and Spruce Hill, and we’re working as hard as we can to raise more money so we can expand our distribution. If you are in Walnut Hill or Spruce Hill, we will email you directly about getting your grabber. If you’re not in one of those neighborhoods we’ll contact you about getting your grabber as soon as we can. </p> 

<div>In the meantime please don’t let our “grabber delay” stop you from getting started!</div>

<h4><b>Litter Pick-up Tips:</b></h4>
<ul>
  <li>Safety first! Please be careful and use good judgment, we don’t want anyone getting hurt</li>
  <li>Wear gloves to protect your hands</li>
  <li>Take a friend! Litter pick-up is much more enjoyable with company</li>
  <li>If possible, recycle the recyclable litter you collect (I like to do two sweeps: non-recyclable trash on my way down the block, and recyclables in a separate bag on the way back up, but obviously do whatever works for you)</li>
  <li>If you don’t want to wait, you’re of course welcome to purchase your own grabber. They do make litter pick up much easier, faster, and more sanitary. Amazon has lots of options, and this is the one we provide.</li>
  <li>If you have any questions (or suggestions!) please don’t hesitate to contact us at <a href="mailto:{{adminEmail}}">{{adminEmail}}</a>.</li>
</ul>

<div>Welcome aboard!</div>
<div>Not In Philly Team</div>
</div>

