<p>Hi {{firstName}},<p> 
<p>Just a reminder that have launched this project in the Walnut Hill and Spruce Hill neighborhoods right now. Sign up wherever you live and we'll let you know when we expand to your neighborhood!</p> <p>Please follow the link in order to finish the registration:</p> 
<p><a href='{{ url }}'>{{ url }}</a></p> 
<p>Be sure to tag pictures of your cleaned blocks with @notinphilly and #notinphilly on Instagram to be entered for prizes!</p> 
<div><b>#NotInPhilly Team</b></div>