<p>Hi {{firstName}},</p>

<p>You recieved a connection request from http://notinphilly.org.</p>

<p>
<div>{{userRequestedFullName}}{{userRequestedNeighborhood}} wants to connect with you and send you messages.</div>
<div>Connecting with other participants can help you organize cleanups together and build a stronger community in your neighborhood.</div>
</p>

<div>Please go to <b><a href="http://notinphilly.org/profile">your profile</a></b> and respond to this request.<div>

<p>
    <div>You can approve or reject this request. The user will be notified only if you approve it.</div>
    <div>You can mute a user after you approve a request if you don't want to be contacted.</div>
</p>

