Hi {{firstName}},

You recieved a connection request from http://NotinPhilly.org.

{{userRequestedFullName}}{{userRequestedNeighborhood}} wants to connect with you and send you messages.
Connecting with other participants can help you organize cleanups together and build a stronger community in your neighborhood.

Please go to your profile on http://notinphilly.org and respond to this request.

You can approve or reject this request. The user will be notified only if you approve it.
You can mute a user after you approve a request if you don't want to be contacted.

