<div id="mainNav" class="sticky-header padding-y--small">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 header-logo">
        <a href="/" class="main-logo">
          <img ng-src="/public/img/logo-not-in-philly.png" alt="Logo" class="img-responsive" />
        </a>
      </div>
      <div class="col-sm-10 text-center main-nav">
        <a ng-click="main.openTab(tabs.SEARCH_TAB, true)">Find My Block</a>
        <a ng-click="main.openTab(tabs.MAP_TAB, true)">Explore the Map</a>
        <a ng-click="main.openTab(tabs.LOGIN_TAB, true)" disable="!main.isLoginEnabled" ng-show="main.isLoginEnabled">Sign Up / Log In</a>
        <a ng-click="main.openTab(tabs.PROFILE_TAB, true)" disable="!main.isUserProfileEnabled" ng-show="main.isUserProfileEnabled">My Account</a>
        <a ng-click="main.openTab(tabs.ABOUT_TAB, true)">About Us</a>
        <a href="https://prc.networkforgood.com/projects/22356-not-in-philly">Donate</a>
      </div>
    </div>
  </div>
</div>