<div class="row-fluid">
  <!--Side menu-->
  <div class="col-xs-10 col-sm-11 col-md-3 pull-left side-container" ng-show="sideMenu.isVisible" ng-init="sideMenu.isVisible = true">
    <treasure-overlay-spinner active='sideMenu.spinnerActive'>
      <div class="side">
        <div class="row-fluid">
          <img class="logo" src="public/img/logo.png"/>
          <uib-accordion>
            <uib-accordion-group heading="Your Profile" is-open="sideMenu.isUserProfileOpen" ng-show="sideMenu.isUserProfileVisible" panel-class="menu-profile" template-url="app/sidemenu/accordion-template.html">
              <div class="menu-userProfile" ng-controller="UserProfileController">
                <a href ng-click="userProfile.logout()">Logout <i class="fa fa-sign-out"></i></a>
                <div class="row">
                  <div class="col-md-9">
                    <div><img src="public/img/user-profile.png"/><h3>fullName</h3></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <p><strong>Email: </strong> {{sideMenu.user.email}} </p>
                    <p><strong>Adopted streets: </strong> {{sideMenu.user.email}} </p>
                  </div>
                </div>
              </div>
            </uib-accordion-group>
            <uib-accordion-group heading="How it works" panel-class="menu-info" template-url="app/sidemenu/accordion-template.html">
              <p>Like you, we realize that Philly has a litter problem. As citizens, we have what it takes to make a real difference.
                  In return for a 6 month commitment to going out once a week to pick up litter, we will give you a trash grabber. No
                  more touching litter or killing your back! You will be amazed at how much we can get done together! Send any questions to us at <a href="mailto:notinphilly@gmail.com" target="_blank">notinphilly@gmail.com</a>.
              </p>
            </uib-accordion-group>
            <uib-accordion-group heading="Let's start!" panel-class="menu-tag-line" template-url="app/sidemenu/accordion-template.html">
              <ng-form class="form-inline" ng-controller="SearchStreetController">
                <div class="form-group menu-street-search">
                  <label>Find your street</label>
                  <input type="text" class="form-control" ng-model="search.streetName" required>
                  <input type="submit" value="Search" />
                </div>
              </ng-form>
            </uib-accordion-group>
            <uib-accordion-group heading="Member login" is-open="sideMenu.isLoginOpen" ng-show="sideMenu.isLoginVisible" panel-class="menu-get-started" template-url="app/sidemenu/accordion-template.html">
              <ng-form ng-controller="LoginController" ng-submit="loginForm.login()">
                <div class="form-group menu-login">
                  <label>Email</label>
                  <input type="text" class="form-control" name="uname" ng-model="loginForm.email" required ng-init="loginForm.email = 'test@test.me'"></input>
                  <label>Password</label>
                  <input type="password" class="form-control" name="pass" ng-model="loginForm.password" required ng-init="loginForm.password = '1234test'"></input>
                  <input type="submit" class="btn btn-default" ng-click="loginForm.login(loginForm)"/> Or <a href="">Sign up</a>
                </div>
              </ng-form>
            </uib-accordion-group>
            <uib-accordion-group heading="Spread the word" panel-class="menu-info" template-url="app/sidemenu/accordion-template.html">
              <p>Spread the word about this movement on <a href="http://instagram.com/notinphilly">Instagram</a> and <a href="https://www.facebook.com/groups/1625723617652503/">Facebook</a>, using the #NotinPhilly or through our full page or ¼ page flyers.
                  Invite a neighbor to sign up and also go out once a week on your block or take another.
                  We also need "Neighborhood Champions" to distribute grabbers within their neighborhood. If you are interested, email us at <a href="mailto:notinphilly@gmail.com" target="_blank">notinphilly@gmail.com</a>.
              </p>
            </uib-accordion-group>
            <uib-accordion-group heading="FAQ" panel-class="menu-info" template-url="app/sidemenu/accordion-template.html">
              <ul>
                  <li>
                      <a href="#" class="accordion">So I signed up and I just get a grabber? Isn’t that kind of lame?</a>
                      <p>We agree. Once enough people sign up, we will be able to solicit gifts and hold raffles from area businesses.</p>
                  </li>
                  <li>
                      <a href="#" class="accordion">What if my block is too large?</a>
                      <p>Blocks can be adopted by multiple people. Get your neighbors involved!</p>
                  </li>
                  <li>
                      <a href="#" class="accordion">Why do you ask what company or organization I am signing up through?</a>
                      <p>We want to give good press to companies, non-profits, and houses of worship that have their members take part.</p>
                  </li>
                  <li>
                      <a href="#" class="accordion">What if I move or unable to complete by 6 month commitment?</a>
                      <p>Keep the grabber as our gift and eliminate litter where you go.</p>
                  </li>
              </ul>
            </uib-accordion-group>
            <uib-accordion-group heading="Contact us" panel-class="menu-info" template-url="app/sidemenu/accordion-template.html">
                <a href="mailto:notinphilly@gmail.com" target="_blank">notinphilly@gmail.com</a>
            </uib-accordion-group>
          </uib-accordion>
        </div>

        <div class="row-fluid">
          <div class="partners">
            <p>SUPPORTED BY</p>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4"><a href="http://www.codeforamerica.org/" target="_blank"><img src="public/img/partner-cfa.png"/></a></div>
              <div class="col-xs-4 col-sm-4 col-md-4"><a href="https://codeforphilly.org/" target="_blank"><img src="public/img/partner-cfp.png"/></a></div>
              <div class="col-xs-4 col-sm-4 col-md-4"><a href="http://www.thinkbrownstone.com/" target="_blank"><img src="public/img/partner-thinkbrownstone.png"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </treasure-overlay-spinner>
  </div>
</div>

<div class="col-xs-2 col-sm-1 col-md-1  sideItemsColumn">
  <div class="sideItemsColumnSection">
    <div class="sideItem" ng-click="sideMenu.isVisible = !sideMenu.isVisible" ng-show="sideMenu.isVisible"><i class="fa fa-3x fa-angle-double-left"></i></div>
    <div class="sideItem" ng-click="sideMenu.isVisible = !sideMenu.isVisible" ng-show="!sideMenu.isVisible"><i class="fa fa-3x fa-angle-double-right"></i></div>
  </div>

  <div class="sideItemsColumnSection offset">
    <div class="sideItem" ng-show="sideMenu.isStreetLevel" ng-click="sideMenu.onMapReturn()"><i class="fa fa-3x fa-level-up"></i></div>
    <div class="sideItem"><i class="fa fa-3x fa-search-plus"></i></div>
    <div class="sideItem"><i class="fa fa-3x fa-search-minus"></i></div>
  </div>

  <div class="sideItemsColumnSection offset">
    <a class="social" href="http://instagram.com/notinphilly" target="_blank">
        <div class="sideItem"><i class="fa fa-3x fa-instagram"></i></div>
    </a>
    <a class="social" href="https://www.facebook.com/groups/1625723617652503/" target="_blank">
        <div class="sideItem"><i class="fa fa-3x fa-facebook"></i></div>
    </a>
  </div>
</div>

<div ng-include src="'app/map/map-template.html'"></div>
