<div>
  <div class="modal-header">
      Message
  </div>
</div>
<div class="modal-body">
  <form name="emailForm" novalidate>
    <div class="bg-danger" ng-show="errorMessage">
      {{errorMessage}}
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="to" class="control-label">To:</label>
        <selectize name="recipientConfig" config='recipientConfig' options='recipients' ng-model="message.recipientIds" required=""></selectize>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="to" class="control-label">Subject:</label>
        <input name="subject" ng-model="message.subject" ng-class="['form-control', 'input-sm', { 'has-error': emailForm.subject.$error.required }]" placeholder="Subject" required="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <textarea name="contents" ui-tinymce ng-model="message.contents" ng-class="['form-control', { 'has-error': emailForm.contents.$error.required }]" required=""></textarea>
      </div>
    </div>
  </form>		
</div>
<div class="modal-footer">
   <button class="btn btn-primary" type="submit" ng-disabled="emailForm.$invalid" ng-click="send()">Send</button>
   <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>

