<div ng-controller="MessagesListController">
    <div class="row userprofile-header-top">
        Messages
    </div>                
    <div class="row userprofile-messages">
        <div class="userprofile-messages-item">
            <a href="" ng-click="viewMessage()" class="userprofile-messages-link">
                <div class="userprofile-messages-name padding-none pull-left col-md-2">Andres posada</div>
                <div class="col-md-5 col-xs-8 col-sm-8">Nice work on the lastest version</div>
                <div class="col-md-3 text-muted hidden-xs hidden-sm" style="font-size: 11px;">- More content here</div> 
                <div class="padding-none col-md-2 pull-right">12:10 AM</div> 
            </a>
        </div>
        <div class="userprofile-messages-item">
            <a href="" ng-click="viewMessage()" class="userprofile-messages-link">
                <div class="userprofile-messages-name padding-none pull-left col-md-2">Andres posada</div>
                <div class="col-md-5 col-xs-8 col-sm-8">Nice work on the lastest version</div>
                <div class="col-md-3 text-muted hidden-xs hidden-sm" style="font-size: 11px;">- More content here</div> 
                <div class="padding-none col-md-2 pull-right">12:10 AM</div> 
            </a>
        </div>
    </div>
</div>