<div>
  <div class="modal-header">
  </div>
</div>
<div class="modal-body">
  <div class="bg-danger" ng-show="errorMessage">
    {{errorMessage}}
  </div>
  <div class="row">
     <div class="col-md-12">
      <p><b>From:</b> {{ message.from.fullName }}</p>
    </div>
    <div class="col-md-12">
      <p><b>To:</b> {{ message.to.fullName }}</p>
    </div>
    <div class="col-md-12">
      <p><b>Subject:</b> {{ message.subject }}</p>
    </div>
    <div class="col-md-12">
      <div class="userprofile-messages-contents">
        <span ng-bind-html="message.contents"></span>      
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-accept" type="submit" ng-click="respond()">Respond</button>
   <button class="btn btn-accept" type="button" ng-click="close()">Close</button>
   <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>   
</div>

