<form class="edit-form" name="passwordForm" novalidate>
    <div class="row" ng-show="errorMessage">
        <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>
    <div class="row">
        <div ng-class="['col-xs-4', 'form-group', { 'has-error': passwordForm.oldPassword.$invalid && !passwordForm.oldPassword.$pristine }]">
            <label for="oldPassword" class="control-label">Old password<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
            <input name="oldPassword" type="password" ng-model="passwordChange.oldPassword" ng-class="['form-control', 'input-sm', { 'has-error': passwordForm.oldPassword.$error.required }]" placeholder="First Name" type="text" required="">
            <p ng-show="passwordForm.oldPassword.$invalid && !passwordForm.oldPassword.$pristine" class="help-block">Old password is required.</p>
        </div>
        <div ng-class="['col-xs-4', 'form-group', { 'has-error': passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }]">
            <label for="newPassword" class="control-label">New password<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
            <input name="newPassword" type="password" ng-model="passwordChange.newPassword" ng-class="['form-control', 'input-sm', { 'has-error': passwordForm.newPassword.$error.required }]" placeholder="Last Name" type="text" required="">
            <p ng-show="passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine" class="help-block">Password is required.</p>
        </div>
        <div ng-class="['col-xs-4', 'form-group', { 'has-error': passwordForm.passwordConfirm.$invalid && !passwordForm.passwordConfirm.$pristine }]">
            <label for="passwordConfirm" class="control-label">Confirm Password<span aria-hidden="true">*</span><span class="sr-only">required</span></label>
            <input type="password" name="passwordConfirm" ng-model="User.passwordConfirm" class="form-control input-sm" placeholder="Confirm password" required equal="{{passwordChange.newPassword}}">
            <p ng-show="passwordForm.passwordConfirm.$error.required && !passwordForm.passwordConfirm.$pristine" class="help-block">Password confirmation is required.</p>
            <p ng-show="passwordForm.passwordConfirm.$error.equal && !passwordForm.passwordConfirm.$pristine" class="help-block">Password must match.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-actions form-group">
                <button type="button" class="btn btn-default btn-cancel pull-right" ng-click="toggleChangePassword()">Cancel</button>
                <button type="button" class="btn btn-default pull-right" ng-disabled="!passwordForm.$dirty || passwordForm.$invalid" ng-click="changePassword()">Change Password</button>
            </div>
        </div>
    </div>
</form>