 <div>
    <div class="row userprofile-header">
        <div class="pull-left">
            <img ng-if="user.profileImageUrl" src="{{user.profileImageUrl}}" class="userprofile-avatar" alt="User"/>
            <img ng-if="!user.profileImageUrl" src="/public/img/user-profile.png" class="userprofile-avatar" alt="User"/>            
        </div>
        <div class="userprofile-header-summary pull-left">
            <div class="userprofile-name">
                <div class="userprofile-name-element"><h3>{{user.fullName}}</h3></div>
                <div class="userprofile-name-element margin-x--small"><a href="" ng-click="logout()">Log out <i class="fa fa-sign-out"></i></a></div>
            </div>
            <address class="useprofile-userinfo">
                <div  class="margin-y--small">
                    <div ng-hide="userProfile.isEditing" class="profile-actions">
                        <button class="btn userprofile-btn" ng-click="toggleEdit()"><i class="fa fa-pencil"></i> Edit profile</button>
                    </div>
                    <div ng-show="userProfile.isAdmin" class="profile-actions">
                        <button class="btn userprofile-btn" ng-click="navigateToAdmin()"><i class="fa fa-gears"></i> Admin</button>
                    </div>
                </div>

                <div ng-show="!userProfile.isEditing">
                    <div ng-show="user.email" class="margin-bottom"><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</div>
                    <div ng-show="user.neighborhood" class="margin-bottom--small"><b>Neighborhood:</b> {{user.neighborhood.name}}</div>
                    <div ng-show="user.address" class="margin-bottom--small"><b>Address:</b> {{user.address}}</div>
                    <div ng-show="user.aptNumber" class="margin-bottom--small"><b>Appartment:</b> {{user.aptNumber}}</div>
                    <div class="margin-bottom--small"><b>Participating neighbors:</b> {{userProfile.neighborsCount}} <a href="" ng-show="userProfile.neighborsCount > 0" ng-click="requestNeighborsConnections()">(Send connection requests)</a></div>  
                    <div class="margin-bottom--small"><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> View upcoming events {{userProfile.upcomingEvents > 0 ? "(" + userProfile.upcomingEvents + ")" : "" }}</a></div>
                </div>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="userprofile-header-menu">   
        </div>    
    </div>
</div>