<div class="row">
    <div class="col-md-3">
    <div class="street-marker-icon pull-left">
        <a href="" ng-click="chooseStreet(street.properties._id)">
        <img ng-src="/api/external/mapbox-staticmap/-75.14460727740935/39.95004969343615" src="/api/external/mapbox-staticmap/-75.14460727740935/39.95004969343615">
        </a>
    </div>
    </div>
    <div class="col-md-9">
    <div class="col-md-8">
        <h4 class="ng-binding">200 Block of MARKET ST</h4>
        <h6>Zip: <!-- ngRepeat: zipcode in street.zipCodes --><span ng-repeat="zipcode in street.zipCodes" class="ng-binding ng-scope"> 19106</span><!-- end ngRepeat: zipcode in street.zipCodes --></h6>
        <h6 class="ng-binding">Participants: 1</h6>
    </div>
    <div class="col-md-4">
        <div class="view-onstreet-section">
        <a class="btn bth-sm btn-success btn-block" href="" ng-click="chooseStreet(street.id)">
            View
        </a>
        </div>
    </div>
    </div>
</div>