    body {
        background: #fbfbfb;
    }
    .well {
        margin: 50px auto;
        text-align: center;
        padding: 25px;
        max-width: 600px;
    }
    p {
        font-size: 17px;
        margin-top: 25px;
    }
    .logo img {
      background-color: #545454;
      display: block;
      margin: 0 auto;
      padding: 8px;
      max-width: 300px;
    }
    p a.btn {
        font-weight:bold;
        margin: 0 5px;
    }