body{
  font-family: Tahoma, Helvetica, Geneva, sans-serif;
}

.top-bar {
    background: #fdfdfd;
    background-color: #F2F8FF;
    color: #999;
    padding: 6px 0px;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #f5f5f5;
}

 .pac-container {
    z-index: 1050;
    width: 100%;
}

.social-icons a {
  color: #1FA2DC;
}

.header-title {
  color:#939CA0;
  font-size:14px;
}

.email-contact a {
  color: #999;
}
.donate {
  width: 69px;
  margin-left: 10px;
}

.header {
  padding: 15px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.menu-userProfile {
  margin-left: 15px;
}

.menu-userProfile-logout {
  margin-top: 10px;
  margin-left: 5px;
}

.tab-contents
{
    border: 1px solid #ddd;
}

.tab-inner
{
  background-color: #F2F8FF;
}

.address-search-form
{
  margin: 20px 10px 20px 10px;
}

.street-item-block
{
    border:1px solid #E6E6E6;
    margin-bottom:5px;
    border-color:#80cde5;
    background-color: white;
}

.street-item-block .street-marker-icon
{
    margin-right:22px;
    text-align:center!important;
}

.street-item-block .street-marker-icon img
{

}

.view-onstreet-section
{
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-login {
    padding: 8px 8px 8px 16px;
    margin: 0 10px;
}

.faq {
  width: 80%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.faq-section
{
  margin-bottom: 0;
  border-color: #ddd;
}

.faq-heading
{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.faq-body
{
  border-top: 1px solid #ddd;
  padding: 15px;
}

.prc-logo
{
  width: 250px;
  padding-bottom: 15px;
}

.thb-logo
{
  padding-bottom: 15px;
}


#cityMap {
    height:700px;
    z-index: 1;
}

.map-control {
  background-color: white;
  font-size: 16px;
	cursor: pointer;
  border: 1px solid black;
  padding: 2px;
}

.map-control-text {
  color: black;
}

.map-control a:hover {
	background-color: #f4f4f4;
}

@media (max-width: 999px) {
  .cfp-logo
  {
    width: 90px;
    padding-bottom: 15px;
  }
  .logo-container
  {
    float: none;
  }
  .logo-main {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  .cfp-logo
  {
    width: 120px;
    padding-left: 40px;
    padding-bottom: 15px;
  }

  .logo-main {
    width: 250px;
    border-right: 1px solid #f5f5f5;
    padding-right: 5px;
  }
}
