<div ng-controller="searchAddressController">
  <div class="row">
    <div class="address-search-form">
      <div class="input-group col-md-12">
        <div ng-show="hasAddress()" class="input-group-addon" ng-click="findStreet()"><i class="fa fa-search"></i></div>
        <input id="address-search" search-autocomplete ng-model="autocomplete" options="options" details="details" type="text" class="form-control input-lg" placeholder="Enter address..." />
        <div ng-show="hasAddress()" class="input-group-addon" ng-click="clearSearch()"><i class="fa fa-close"></i></div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="hasStreets()">
    <div class="row">
      <div class="col-md-6">
        <h4>Found streets nearby:</h4>
      </div>
    </div>
    <div class="found-streets-items col-md-12 clearfix">
       <div class="street-item-block row clearfix" ng-repeat="foundStreet in foundStreets">
        <div class="col-md-2">
          <div class="street-marker-icon pull-left">
              <img src="public/img/map_marker.png" />
          </div>
        </div>
        <div class="col-md-10">
          <div class="col-md-8">
            <h4>{{foundStreet.properties.type}} {{foundStreet.properties.name}} {{foundStreet.properties.hundred}}</h4>
            <h6>Zip: {{foundStreet.properties.zipCode}}</h6>
            <h6>Participants: {{foundStreet.properties.totalAdopters}}</h6>
          </div>
          <div class="col-md-4">
            <a class="btn bth-sm btn-success btn-block" href="" ng-click="chooseStreet()">
              Select street
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
