<div ng-controller="searchAddressController">
  <div>
    <div class="col-md-12">
      <h4>Welcome to notinphilly.org!</h4>
      <p>Let's begin with finding your block and participating streets nearby:</p>
    </div>
  </div>
  <div class="row">
    <div class="address-search-form">
      <div class="input-group col-md-12">
        <div ng-show="hasAddress()" class="input-group-addon" ng-click="findStreet()"><i class="fa fa-search"></i></div>
        <input id="address-search" search-autocomplete ng-model="autocomplete" options="options" details="details" type="text" class="form-control input-lg" placeholder="Enter your address..." />
        <div ng-show="hasAddress()" class="input-group-addon" ng-click="clearSearch()"><i class="fa fa-close"></i></div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="hasStreets()">
    <div class="row">
      <div class="col-md-5">
        <h4>We found following streets:</h4>
      </div>
      <div class="col-md-3 pull-right">
        <a href="" ng-click="switchToMap()">Veiw on map</a>
      </div>
    </div>
    <div class="found-streets-items col-md-12 clearfix">
       <div class="street-item-block row clearfix" ng-repeat="foundStreet in foundStreets">
        <div class="col-md-3">
          <div class="street-marker-icon pull-left">
            <a href="" ng-click="chooseStreet(foundStreet.properties.id)">
              <img ng-src="{{ foundStreet.streetMapPreview }}" />
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="col-md-8">
            <h4>{{foundStreet.properties.hundred}} {{foundStreet.properties.name}} {{foundStreet.properties.type}}</h4>
            <h6>Zip: {{foundStreet.properties.zipCode}}</h6>
            <h6>Participants: {{foundStreet.properties.totalAdopters}}</h6>
          </div>
          <div class="col-md-4">
            <div class="view-onstreet-section">
              <a class="btn bth-sm btn-success btn-block" href="" ng-click="chooseStreet(foundStreet.properties.id)">
                View
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
